/*Cosmology*/
.top_img {
    width: 1800px;
    height: 300px;
  }
  
  .astroneut_img {
    width: 500px;
  }
  
  .cosmology {
    display: flex;
    padding-top: 50px;
    width: 1000px;
    margin: auto;
  }
  
  .cosmology > * {
    flex: 1;
  }
  
  .cosmology p {
    padding-right: 50px;
  }
  
  .below {
    width: 1000px;
    margin: auto;
  }
  
  .image-below {
    width: 400px;
  }
  