body {
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.7) url(/images/mavis-cw-164128.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: darken;
  color: #fff;
}

h1 {
  text-align: center;
}

.top_img {
  width: 100%;
  max-height: 250px;
}

.info_section {
  max-width: 1000px;
  margin: auto;
}

.info_section p {
  max-width: 390px;
  margin: auto 20px;
  text-align: left;
}

.container {
  display: grid;
  grid-template-areas:
    "grid-1"
    "grid-2"
    "grid-3"
    "grid-4";
  row-gap: 30px;
}

.info_space_1 {
  grid-area: grid-1;
}

.info_space_2 {
  grid-area: grid-2;
  text-align: center;
}

.info_space_3 {
  grid-area: grid-3;
  text-align: center;
}

.info_space_4 {
  grid-area: grid-4;
  text-align: center;
}

.info_img_1 {
  max-width: 90%;
}

.text_2 {
  grid-area: grid-3;
}

.follow a {
  color: #fff;
}

@media (min-width: 800px) {
  .info_section {
    flex-direction: column;
    max-width: 1000px;
  }

  .container {
    display: grid;
    grid-template-areas:
      "grid-1 grid-2"
      "grid-3 grid-2"
      "grid-4 grid-2";
  }

  .info_space_3 {
    text-align: left;
  }

  .info_space_4 {
    text-align: left;
  }

  .info_section p {
    margin-left: 0;
  }

  .info_img_1 {
    max-width: 80%;
  }

  .info_img_1 {
    padding-top: 20px;
  }
}
