body {
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.7) url(/images/mavis-cw-164128.jpg);
  background-size: cover;
  background-blend-mode: darken;
  color: #fff;
}

.active {
  background-color: #592e15;
  padding: 10px;
}

.top_img {
  width: 100%;
  height: 250px;
}

.side_img {
  width: 500px;
}

.info_section {
  display: flex;
  padding: 120px 0;
  width: 1000px;
  margin: auto;
}

.info_section > * {
  flex: 1;
}

.info_section p {
  padding-right: 50px;
}

.below {
  width: 1000px;
  margin: auto;
}

.image-below {
  width: 500px;
  margin: 50px;
}

.follow a {
  color: #fff;
}
