/*Explore Kids*/
.explore_header {
  text-align: center;
  margin: 50px;
}
.kids_reading {
  max-width: 240px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.kids_reading_img {
  width: 250px;
}

.museum_img {
  width: 300px;
  height: 200px;
}

.info_kids {
  max-width: 240px;
  margin: 50px auto;
  display: flex;
  flex-direction: column-reverse;
}

.info_kids > * {
  flex: 1;
}

.exhibition_img {
  width: 500px;
}

.toy_img {
  width: 300px;
}

.teacher {
  width: 240px;
  margin: auto;
  display: flex;
  flex-direction: column-reverse;
}

.teacher_img {
  width: 300px;
  padding-right: 100px;
}

@media (min-width: 800px) {
  .kids_reading {
    max-width: 1000px;
  }

  .kids_reading p {
    padding-right: 250px;
  }

  .kids_reading {
    flex-direction: row;
  }

  .info_kids {
    flex-direction: row;
  }

  .teacher {
    flex-direction: row;
  }
}
