header {
  display: flex;
  height: 60px;
  align-items: center;
  background-color: #1d1d1d;
  color: #fff;
}

.active {
  text-decoration: underline;
}

.hamburger-icon {
  padding-left: 20px;
}

nav,
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ nav {
  display: block;
  width: 100%;
  text-align: center;
}

nav {
  position: absolute;
  top: 34px;
}

nav a {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
}

nav ul {
  display: block;
  background-color: #1d1d1d;
  width: 100%;
  padding-left: 0;
  list-style: none;
}

nav ul li {
  position: relative;
}

nav ul li a:hover {
  text-decoration: underline;
  background-color: #592e15;
}

nav ul li ul {
  display: none;
  position: relative;
}

nav ul li:hover ul {
  display: block;
  width: 100%;
}

@media (min-width: 830px) {
  .hamburger-icon {
    display: none;
  }

  nav {
    display: block;
    position: static;
  }

  nav a {
    display: inline-block;
  }

  nav ul li {
    float: left;
  }

  nav ul li ul {
    padding: 30px;
  }

  nav ul li:hover ul {
    display: block;
    position: absolute;
    width: 100%;
  }

  nav ul li ul li a {
    width: 160px;
    padding-left: 0;
  }

  nav ul li ul p {
    width: 400px;
  }
}
