header {
  display: flex;
  align-items: center;
  background-color: black;
  color: #fff;
  height: 70px;
}

.active {
  background-color: #592e15;
}

.hamburger-icon {
  padding-left: 40px;
}

nav,
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ nav {
  display: block;
  width: 100%;
  text-align: center;
}

nav {
  position: absolute;
  top: 50px;
}

nav a {
  display: block;
  text-decoration: none;
  color: #fff;
  background-color: black;
  padding: 10px 10px;
}

nav ul {
  list-style: none;
  background-color: rgb(0, 0, 0);
  width: 100%;
  padding-left: 0;
}

nav ul li {
  position: relative;
}

nav ul li a:hover {
  text-decoration: underline;
  background-color: #592e15;
}

nav ul li ul {
  display: none;
  position: relative;
}

nav ul li ul li a {
  background-color: #494948;
}

nav ul li:hover ul {
  display: block;
  width: 100%;
}

.hours {
  width: 240px;
  padding-right: 80px;
  text-align: center;
}

nav ul li ul p {
  padding: 20px;
  margin: 0;
  width: 300px;
  text-align: left;
  margin: auto;
}

@media (min-width: 830px) {
  .hamburger-icon {
    display: none;
  }

  nav {
    display: block;
    position: static;
    padding-left: 20px;
  }

  nav a {
    display: inline-block;
  }

  nav ul li {
    float: left;
  }

  nav ul li:hover ul {
    display: block;
    position: absolute;
    padding-top: 7px;
  }

  nav ul li ul li a {
    background-color: #494948;
    padding: 20px 30px;
    width: 160px;
  }

  .hours {
    width: 240px;
    padding-right: 80px;
  }

  nav ul li ul p {
    background-color: #494948;
    padding: 20px;
    margin: 0;
    width: 300px;
  }
}
