/*Homepage*/
.welcome_content {
  max-width: 1000px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.welcome_content > * {
  flex: 1;
  margin: 20px;
}

.welcome_content p {
  text-align: left;
}

.welcome_img {
  width: 300px;
}

.info_content,
.involved_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1000px;
  margin: 30px auto;
  text-align: left;
}

.info_content div,
.involved_content div {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  align-items: center;
  background-color: #592e15;
  padding: 20px;
  margin: 10px;
  max-width: 240px;
  border-radius: 25px;
  color: #fff;
  margin: 10px auto;
}

.info_content,
.involved_content > * {
  flex: 1;
}

.involved {
  text-align: center;
}

.event h2 {
  padding: 20px;
}

.event {
  background: rgba(0, 0, 0, 0.7) url(/images/mavis-cw-164128.jpg);
  background-size: cover;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
}

.event_content {
  max-width: 450px;
  margin: auto;
  opacity: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.event_content p {
  margin: 20px;
}

.event_content div {
  flex: 1;
}

.event_content__section_1 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.event_content__section_2 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.event_img {
  width: 300px;
  height: 300px;
  margin: 50px 0;
  background-size: cover;
  background-position: center;
}

@media (min-width: 800px) {
  .welcome_content {
    flex-direction: row;
  }

  .welcome_img {
    width: 600px;
  }

  .welcome_content h1,
  .welcome_content h2 {
    text-align: start;
  }

  .info_content,
  .involved_content {
    max-width: 1000px;
    flex-direction: row;
  }

  .event_content {
    max-width: 1000px;
  }

  .event_content__section_1 {
    flex-direction: row;
  }

  .event_content__section_2 {
    flex-direction: row-reverse;
  }
}
