/*Homepage*/
.welcome_content {
  max-width: 1000px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.welcome_content p {
  text-align: left;
  width: 350px;
  padding: 0 30px;
}

.welcome_img {
  max-width: 90%;
  margin-top: 40px;
}

.info_content,
.involved_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0px auto;
  text-align: left;
}

.info_content div,
.involved_content div {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  align-items: center;
  background-color: #592e15;
  padding: 20px;
  margin: 10px;
  max-width: 240px;
  border-radius: 25px;
  color: #fff;
  margin: 10px auto;
}

.info_content,
.involved_content > * {
  flex: 1;
}

.involved {
  text-align: center;
}

.event h2 {
  padding: 20px;
}

.event {
  background: rgba(0, 0, 0, 0.7) url(/images/mavis-cw-164128.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: darken;
  color: #fff;
  text-align: center;
}

.event_content {
  max-width: 1000px;
  margin: auto;
  opacity: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.event_content h2 {
  text-align: left;
}

.event_content p {
  margin: 20px;
  text-align: left;
}

.event_content div {
  flex: 1;
}

.event_content__section_1 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.event_content__section_2 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.event_img {
  max-width: 80%;
}

@media (min-width: 850px) {
  .welcome_content {
    flex-direction: row;
    justify-content: space-between;
  }

  .welcome_img {
    max-width: 50%;
  }

  .welcome_content h1,
  .welcome_content h2 {
    text-align: start;
  }

  .info_content,
  .involved_content {
    max-width: 1000px;
    flex-direction: row;
  }

  .event_content {
    justify-content: space-between;
  }

  .event_img {
    min-width: 500px;
    margin: 20px;
    height: 300px;
    object-fit: cover;
    justify-content: right;
  }

  .event_content__section_1 {
    flex-direction: row;
    justify-content: space-between;
  }

  .event_content__section_2 {
    flex-direction: row-reverse;
  }
}
