@import url("https://fonts.googleapis.com/css2?family=Kameron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@700&family=Kameron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@700&family=Kameron&family=Martel&display=swap");

body {
  margin: 0;
  padding: 0;
  background: #a6a6a6;
}

h1 {
  font-family: Gentium Book Basic;
  font-size: 30px;
}

h2 {
  font-family: kameron;
  font-size: 25px;
}

h3 {
  font-family: kameron;
  font-size: 16px;
}

p {
  font-family: martel;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #fff;
  text-decoration: none;
  font-family: kameron;
}
span {
  margin: 10px;
}

.cta {
  background: #fff;
  padding: 10px 0px;
  margin: 10px 50px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.cta:hover {
  cursor: pointer;
}

/*Header*/
header {
  display: flex;
  background-color: #1d1d1d;
  height: 60px;
  align-items: center;
}

.active {
  text-decoration: underline;
}

.hamburger-icon {
  color: #fff;
  padding-left: 20px;
}

nav,
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ nav {
  display: block;
}

nav {
  position: absolute;
  top: 34px;
  left: 0px;
}

nav a {
  display: block;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  background-color: #1d1d1d;
}

nav ul {
  display: block;
  padding-left: 0px;
}

nav ul li {
  list-style: none;
  position: relative;
}

nav ul li:hover {
  text-decoration: underline;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: #1d1d1d;
  padding: 10px 10px;
  z-index: 5;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  width: 180px;
}

nav ul li ul a {
  padding: 10px 10px 10px 0;
}

.hours {
  width: 240px;
}

nav ul li ul p {
  width: 50px;
}

nav ul li ul a:hover {
  background-color: #592e15;
  padding: 10px;
}

nav ul li a {
  display: block;
  font-size: 15px;
  text-decoration: none;
}

nav ul li ul p {
  color: #fff;
  width: 400px;
}

@media (min-width: 800px) {
  .cta {
    padding: 10px 50px;
    margin: 10px 130px;
  }

  h1 {
    font-family: Gentium Book Basic;
    font-size: 30px;
  }

  h2 {
    font-family: kameron;
    font-size: 25px;
  }

  h3 {
    font-family: kameron;
    font-size: 16px;
  }

  p {
    font-family: martel;
    font-size: 16px;
  }

  .welcome_content {
    flex-direction: row;
  }

  .welcome_img {
    width: 600px;
  }

  .info_content,
  .involved_content {
    max-width: 1000px;
    flex-direction: row;
  }

  .event_content {
    max-width: 1000px;
  }

  .event_content__section_1 {
    flex-direction: row;
  }

  .event_content__section_2 {
    flex-direction: row-reverse;
  }

  .map {
    max-width: 800px;
    border-radius: 10px;
  }

  .contact {
    flex-direction: row;
  }
}

@media (min-width: 600px) {
  nav {
    display: block;
    position: static;
  }

  .hamburger-icon {
    display: none;
  }

  nav a {
    display: inline-block;
  }

  nav ul li {
    float: left;
  }
}
