@import url("https://fonts.googleapis.com/css2?family=Kameron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@700&family=Kameron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@700&family=Kameron&family=Martel&display=swap");

body {
  margin: 0;
  padding: 0;
  background: #a6a6a6;
}

h1 {
  font-family: Gentium Book Basic;
  font-size: 30px;
}

h2 {
  font-family: kameron;
  font-size: 25px;
  text-align: center;
}

h3 {
  font-family: kameron;
  font-size: 16px;
}

p {
  font-family: martel;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #fff;
  text-decoration: none;
  font-family: kameron;
}
span {
  margin: 10px;
}
