body {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    background-color: rgb(23, 22, 22);
}

nav,
#menu-checkbox {
display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

nav {
    position: absolute;
    background-color: rgb(32, 32, 32);
    left: 0;
}

nav a {
    display: block;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
}

nav ul {
    display: block;;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li ul {
    display: none;
    position: absolute;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 180px;
}

nav ul li ul a {
    padding: 10px 10px 10px 10px;
}

nav ul li ul a:hover {
    background-color: aquamarine;
}


nav ul li a {
    display: block;
    font-size: 15px;
    text-decoration: none;
}

@media (min-width: 600px) {
    nav {
        display: block;
        position: static;
    }

    .hamburger-icon {
        display: none;
    }

    nav a {
        display: inline-block;
    }
}